<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/fontawesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/animate.css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/receiverOrder/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/receiverOrder/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="contact1">
        <div class="container-contact1">
            @RenderBody()
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/bootstrap/js/src/popover.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/select2/js/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/tilt.js/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>
</html>
