@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<form>
    <div>
        <label>Անուն</label>
        <input type="text" />
    </div>
    <div>
        <label>Ազգանուն</label>
        <input type="text" />
    </div>
    <div>
        <label>Հեռախոսահամար</label>
        <input type="text" />
    </div>
    <div>
        <label>Առաքման հասցե</label>
        <input type="text" />
    </div>
    <div>
        <label>Առաքման նախընտրելի օր</label>
        <input type="text" />
    </div>
    <div>
        <label>Առաքման նախընտրելի ժամ</label>
        <input type="text" />
    </div>
    <div>
        <label>Լրացուցիչ նշումներ</label>
        <textarea></textarea>
    </div>
    <div>
        <input type ="submit" value = "Հաստատել պատվերը"/>

    </div>
</form>
