@model OrderMgmnt.Web.Models.ReceiverFillOrder.ReceiverFillOrderModel
@{
    Layout = "~/Views/Shared/_Layout_ReceiverOrder.cshtml";
}


<form asp-action="FillOrder" class="contact1-form validate-form">
    @Html.AntiForgeryToken()
    <span class="contact1-form-title">
        Դուք պատվիրել եք <span style="font-weight: bold;">@Model.ProductDescription</span>։
        Խնդրում ենք լրացնել ձեր տվյալները առաքումն իրականացնելու համար
    </span>

    <div class="wrap-input1 validate-input" data-validate="Անուն/Ազգանուն դաշտը պարտադիր է">
        <input asp-for="ReceiverName" class="input1" type="text" placeholder="Անուն/Ազգանուն">
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input" data-validate="Հեռախոսահամար դաշտը պարտադիր է">
        <input asp-for="ReceiverPhoneNumber" class="input1" type="text" placeholder="Հեռախոսահամար">
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input" data-validate="Քաղաք դաշտը պարտադիր է">
        <input disabled class="input1" type="text" placeholder="ք․ ԵՐԵՎԱՆ" />
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input" data-validate="Վարչական շրջան դաշտը պարտադիր է">
        <select asp-for="ReceiverDistrict" class="input1">
            @foreach (var option in ViewBag.DistrictOptions)
            {
                <option value="@option.Value">@option.Text</option>
            }
        </select>
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input" data-validate="Առաքման հասցե դաշտը պարտադիր է">
        <input asp-for="ReceiverAddressInfo" class="input1" type="text" placeholder="Առաքման հասցե (փողոց, տուն/շենք, բն․)" />
        <span class="shadow-input1"></span>
    </div>

    <div class="wrap-input1 validate-input">
        <textarea asp-for="Notes" class="input1" placeholder="Այլ նշումներ"></textarea>
        <span class="shadow-input1"></span>
    </div>

    <input type="hidden" asp-for="OrderId" />
    <input type="hidden" asp-for="ProductDescription" />

    <div class="container-contact1-form-btn">
        <button type="submit" class="contact1-form-btn">
            <span>
                Ուղարկել
            </span>
        </button>
    </div>
</form>