@{
    <form class="contact1-form">
        <span class="contact1-form-title">
            Ձեր պատվերը գրանցված է։ Մենք կկապնվենք ձեզ հետ մեկ աշխատանքային օրվա ընթացքում առաքումն իրականացնելու համար։
        </span>
        <span class="contact1-form-title">
            Առաքման հետ կապված հարցերի դեպքում կարող եք զանգահարել (093)455874 հեռախոսահամարին։
        </span>
    </form>
}
