@model OrderMgmnt.Web.Areas.Admin.Models.AdminVendorCreateModel

@{
    ViewData["Title"] = "Նոր գործընկեր";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Նոր գործընկեր</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber1" class="control-label"></label>
                <input asp-for="PhoneNumber1" class="form-control" />
                <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber2" class="control-label"></label>
                <input asp-for="PhoneNumber2" class="form-control" />
                <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramLink" class="control-label"></label>
                <input asp-for="InstagramLink" class="form-control" />
                <span asp-validation-for="InstagramLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteLink" class="control-label"></label>
                <input asp-for="WebsiteLink" class="form-control" />
                <span asp-validation-for="WebsiteLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="logoFile">Ընտրեք լոգոն</label>
                <!-- Hide the default file input -->
                <input type="file" id="logoFile" name="logoFile" class="form-control-file" />

            </div>

            <div class="form-group">
                <input type="submit" value="Ստեղծել" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
